:root {
  --clr-txt: #32cc04;
  --clr-bg-primary: #333333;
  --clr-bg-secondary: #755939be;
  --clr-bg-tertiary: #000000;
}
body {
  background-color: var(--clr-bg-primary);
}
header .portrait {
  width: 50%;
  margin: 2.5vh auto 2.5vh;
}
@media screen and (min-width: 1000px) {
  header .portrait {
    width: 33%;
  }
}
@media screen and (min-width: 600px) {
  .content {
    background-image: url(../assets/signature-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}
.content {
  border: 5px solid white;
  padding: 2.5rem;
}
div .heading {
  margin: 1rem auto 1rem;
  max-width: 700px;
}
details > summary {
  list-style-type: "◐";
}
details[open] > summary {
  list-style-type: "◑";
}
