@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
  --void: #0c011a;
  --ocean: #142677;
  --wave: #2f70a8;
  --sand: #b97e26;
  --land: #642805;
  --grass: #078d12;
  --forest: #06690e;
  --stone: #b6c8d8;
  --acme: "Acme", sans-serif;
}

body {
  background-color: var(--void);
  font-family: var(--acme);
}
.content {
  background-color: var(--ocean);
  color: var(--stone);
  min-height: 97vh;
}
header {
  border-bottom: 2px solid var(--void);
}
main {
  min-height: 70vh;
  background-color: var(--wave);
}
footer {
  border-top: 2px solid var(--void);
}
li {
  list-style: none;
}
a:any-link {
  color: var(--sand);
  text-decoration: none;
}
form {
  border: 2px solid var(--void);
}
/* .helptext {
  font-size: 0;
} */
