{% extends '_home/index.html' %} {% block profile %}
<div class="container">
  <div class="row">
    <h1>Profile</h1>
    <div class="col"></div>
    <div class="col-8">
      <a href="{% url 'user:update' %}">
        change login information
        <i class="fas fa-edit"></i>
      </a>
      <h1>{{user.display_name}}</h1>
      <div class="d-flex flex-column align-items-start">
        <span>{{user.first_name.title}} {{user.last_name.title}}</span>
        <a href="{% url 'user:update_profile' %}">
          update profile
          <i class="fas fa-edit"></i>
        </a>
      </div>

      {% if user.is_superuser %}
      <div class="d-flex flex-column align-items-center">
        <a href="http://127.0.0.1:8000/admin/"> admin tools </a>
        <a href="{% url 'patrons:view' %}"> View Patrons </a>
        <button class="btn-dark">
          <a href="{% url 'patrons:new' %}"> Add Patron </a>
        </button>
      </div>
      {% else %} {% if user.unlimited %}
      <span>tokens: unlimited</span>
      {% else %}
      <span>tokens: {{user.wallet}}</span>
      {% endif %} {% endif %}
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}
