@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
  --void: #0c011a;
  --ocean: #142058;
  --wave: #1f5c91;
  --sand: #ebca10;
  --land: #642805;
  --grass: #078d12;
  --forest: #06690e;
  --rock: #8e8f4d;
  --stone: #b6c8d8;
  --rubble: #9c9c9c;
  --acme: "Acme", sans-serif;
}
#block-index {
  min-height: 96vh;
}
#main {
  min-height: 65vh;
}
li {
  list-style: none;
}
a:any-link,
.pseudo-link {
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  background-color: var(--void);
  border-radius: 40%;
  color: var(--forest);
}
.bg-void {
  background-color: var(--void);
}
.bg-ocean {
  background-color: var(--ocean);
}
.bg-wave {
  background-color: var(--wave);
}
.text-stone {
  color: var(--stone);
}
.text-rubble {
  color: var(--rubble);
}
.text-rock {
  color: var(--rock);
}
.text-sand {
  color: var(--sand);
}
.border-b2-void {
  border-bottom: 2px solid var(--void);
}
.border-b1-void {
  border-bottom: 1px solid var(--void);
}
.border-t2-void {
  border-top: 2px solid var(--void);
}
.border-2-void {
  border: 2px solid var(--void);
}
.font-acme {
  font-family: var(--acme);
}

input,
select {
  width: 90%;
  border-radius: 2%;
}
