{% extends 'index.html' %}
{% block profile %}
<h1>Patrons</h1>
<ul>
    {% for patron in patrons %}
    <li class="d-flex align-items-center gap-4">
        <span class="fs-4 text-stone">
            {% if patron.unlimited %} &diam; {% endif %} {{patron.list_name}}
        </span>
        {% if patron.donation > 0 %}
            <span class="fs-5 text-rock">
                ${{patron.donation}}
            </span>
            {% endif %}
        <small class="text-rubble">
            {% if user.is_superuser %} {{patron.regcode}}{% endif %}
        </small>
    </li>
    {% endfor %}
</ul>

{% if user.is_superuser %}
<a href="{% url 'portal:new_patron' %}">new patron</a>
{% endif %}
{% endblock %}
