{% extends 'home.html' %}

{% block forms %}
<div class="container">
    <div class="row">
        <h1>Registration</h1>
        <div class="col"></div>
        <div class="col">
            <form class="d-flex flex-column align-items-center p-3" action="{% url 'auth:complete' %}" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn-dark m-1">complete registration</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}