{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Import Project Theme -->
    <link rel="stylesheet" href=" {% static 'theme.css' %}" />
    <!-- import fontawesome icon kit -->
    <script
      src="https://kit.fontawesome.com/cf85ff7c3b.js"
      crossorigin="anonymous"
    ></script>
    <title>Atlas Electronica</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <span class="visually-hidden" id="fav-color">{{user.favorite_color}}</span>
    <span class="visually-hidden" id="use-color"
      >{{user.use_favorite_color}}</span
    >
    <!--  -->
    {% endif %}
    <!--  -->
    {% block index %}
    <!--  -->
    {% endblock %}
    <script>
      const useColor = document.getElementById("use-color").innerText;
      console.log(useColor);
      if (useColor === "True") {
        const color = document.getElementById("fav-color").innerText;
        console.log(color);
        const links = document.getElementsByTagName("a");
        setColors(links, color);
        console.log(links);
      }
      function setColors(elements, color) {
        for (let i = 0; i < elements.length; i++) {
          elements.item(i).style.color = color;
        }
      }
    </script>
  </body>
</html>
