{% extends 'home.html' %}

{% block profile %}
<div class="container">
    <div class="row">
        <h1>Profile</h1>
        <div class="col"></div>
        <div class="col-8">
            <h1>{{user.display_name}}
                <a href="{% url 'auth:update' %}">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="d-flex flex-column align-items-start">
                <span>{{user.first_name.title}}
                    {{user.last_name.title}}</span>
                <span class="d-flex align-items-center gap-2">
                    email: {{user.email}}
                    <a href="#">
                        <i class="fas fa-edit"></i>
                    </a>

                </span>
                <span class="d-flex align-items-center gap-2">
                    phone: {{user.phone}}
                    <a href="#">
                        <i class="fas fa-edit"></i>
                    </a>
                </span>
                <!-- only render wallet if user is patron -->
                {% if user.is_superuser %}
                    <button class="btn-dark">
                        <a href="{% url 'auth:input' %}">
                            Add Patron
                        </a>
                    </button>
                {% else %}
                    {% if user.unlimited %}
                        <span>tokens: unlimited</span>
                    {% else %}
                        <span>tokens: {{user.wallet}}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}